.home{
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;

    .container_hour {
        display: grid;
        /* align-content: inherit; */
        justify-content: space-between;
        grid-template-columns: 22% 22% 22% 22%;
        width: 75%;

        button{
            width: fit-content;
        }
    }


}


